# folders
dat/*
# keep
!dat/
!dat/outflw2000.bin
!dat/rivnum_GBM_15min.bin

fig/*
# keep
!fig/
!fig/mean_outflow.jpg

# excutables
bin/print_grid
bin/print_rivvec
bin/txt_vector
bin/*.o 

# text files
*.txt

# some python
src/map_data_old.py
